
/**
 * Custom variables that are available everywhere
 *
 * @See node_modules/bootstrap/scss/_variables.scss
 */


/*--------------------------------------------------------------
## Google Fonts
--------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

/*--------------------------------------------------------------
## Font vars
--------------------------------------------------------------*/
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

/*--------------------------------------------------------------
## Smth
--------------------------------------------------------------*/
$brand-primary: crimson;

$enable-rounded: false;
